@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body{
    height: 100vh;
    background-color: #141414;
}
.hero{
    height: 100vh;
    background-image: url(./images/Container.png);
    object-fit: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.navbar{
    background-color: #0F0F0F;
    padding: 15px;
    border: 3px solid #1F1F1F ;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}
.nava {
    color: #BFBFBF;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}
.navbar p{
    color: #BFBFBF;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}
.nava:hover, .nava.active{
    background-color: #1F1F1F ;
    border-radius: 5px;
    color: white;
}
.dropdown{
    position: absolute;
    margin-left: 30px;
    background-color: #1F1F1F ;
    border-radius: 5px;
    display: none;
}
.dropdown a{
 color: white;
}
.dropdown li{
    padding: 5px 20px 5px 10px;
}
.dropdown li:hover{
    background-color: #0F0F0F;
}
.genre:hover .dropdown {
    display: block;
}

.topsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
    padding-top: 15px;
    gap: 300px;
}
.searchanchor{
    color: #BFBFBF;
}
.searchanchor:hover{
    opacity: 0.7;
}
.herotext{
    color: white;
    position: absolute;
    bottom: 20px; 
    /* transform: translateX(15%); */
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.herotext h1{
    font-size: 40px;
    line-height: 1.2;
}
.herotext p{
    font-size: 13px;
    color: #999999;
    padding: 20px 0px 20px 0px;
}
.herotext button{
    background-color: #E50000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.herotext button:hover{
    opacity: 0.7;
}
.middlelogo{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


.secondhero{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    color: white;
    /* padding: 50px; */
    text-align: center;
    min-height: 100vh;
    height: auto;
}
.secondhero h1{
    font-size: 35px;
    line-height: 1.2;
    padding-bottom: 5px;
    padding-top: 10px;
}
.secondhero p{
    font-size: 13px;
    color: #999999;
}
.secondherotext{
    margin-bottom: 50px;
}

.genrecards img{
    width: 250px;
    padding: 20px;
    transition: 0.3s ease;
}
.genrecards img:hover {
    transform: scale(1.05);
}



.thirdhero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.trial{
    background-image: url(./images/free\ trial\ bck.png);
    background-repeat: no-repeat;
    height: 196px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 80px 80px;
}
.trial button{
    background-color: #E50000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.trial button:hover{
    opacity: 0.7;
}
.thirdhero h1{
    font-size: 35px;
    line-height: 1.2;
    padding-bottom: 5px;
}
.thirdhero p{
    font-size: 13px;
    color: #999999;
}


.footer{
    height: 100vh;
    background-color: #0F0F0F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footertext{
    display: flex;
    gap: 100px;
}
.footer h1{
    font-size: 20px;
    padding-bottom: 10px;
}
.footer p{
    font-size: 15px;
    color: #999999;
    padding: 5px 0px 5px 0px;
}
.bottom{
    /* margin-top: 400px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
hr{
    width: 100%;
    height: 1px;
    color: #999999;
}
.res{
    display: none;
}











@media(max-width: 900px){
    .hero{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .res{
        display: block;
        /* margin: 0px 10px 0px 10px; */
    }
    .norm{
        display: none;
    }
    .herotext{
        transform: translateX(15%);

    }
    .resnav{
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        width: 100%;
        height: 100%;
        z-index: 10;
        position: absolute;
        left: 0;
        top: 0;
    }
    .active{
        display: flex;
    }
    .resnav button{
        position: absolute;
        top: 0;
        right: 0;
        margin: 30px;
        color: white;
        background-color: transparent;
        border: none;
        font-size: 30px;
        padding: 5px;
        cursor: pointer;
    }
    .topsection i{
        font-size: 25px;
        margin-right: 20px;
        color: white;
    }
    .restop{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    .restop i{
        cursor: pointer;
    }
}



@media(max-width: 700px){
    
    .herotext{
        transform: translateX(0%);
        margin-left: 20px;
        margin-right: 20px;
    }
    .middlelogo img{
        width: 200px;
    }
   .secondhero{
    height: 100%;
    display: block;
    padding-top: 50px;
    
   }
   .secondhero h1{
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
   }
   .secondhero p{
    margin-right: 20px;
    margin-left: 20px;
   }
   .footertext{
    display: grid;
    grid-template-columns: 100px 100px;
   }
   /* .thirdhero{
    display: block;
   }
   .thirdhero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100px;
}

.trial {
    width: 100%;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
} */
}



























/* #container{
    display: grid;
    grid-template-columns: 195px 195px 195px 195px 195px 195px 195px;
    flex-direction: column;
}
#container img{
    width: 195px;
    height: 226px;
    border-radius: 18px;
    object-fit: cover;
    padding: 10px;
    padding-top: 0;
} */