@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    background-color: #141414;
}
.hero{
    height: 100vh;
    background-image: url(./images/Container.png);
    object-fit: cover;
}
.navbar{
    background-color: #0F0F0F;
    padding: 15px;
    border: 3px solid #1F1F1F ;
    border-radius: 5px;
    margin-left: -100px;
}
.navbar a{
    color: #BFBFBF;
    /* background-color: aliceblue; */
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}
.navbar a:hover{
    background-color: #1F1F1F ;
    border-radius: 5px;
    color: white;
}
.topsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
}
.searchanchor{
    color: #BFBFBF;
}
.herotext{
    color: white;
    /* position: fixed;
    bottom: 0; */
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.herotext h1{
    font-size: 40px;
    line-height: 1.2;
}
.herotext p{
    font-size: 13px;
    color: #999999;
    padding: 20px 0px 20px 0px;
}
.herotext button{
    background-color: #E50000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.herotext button:hover{
    opacity: 0.7;
}
.middlelogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}


.secondhero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    color: white;
    /* padding: 50px; */
    text-align: center;
}
.secondhero h1{
    font-size: 35px;
    line-height: 1.2;
    padding-bottom: 5px;
}
.secondhero p{
    font-size: 13px;
    color: #999999;
}
.secondherotext{
    margin-bottom: 50px;
}
/* .genrecards {
    display: grid;
    flex-direction: column;
} */
.genrecards img{
    width: 250px;
    padding: 20px;
    transition: 0.3s ease;
}
.genrecards img:hover {
    transform: scale(1.05);
}



.thirdhero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.trial{
    background-image: url(./images/free\ trial\ bck.png);
    background-repeat: no-repeat;
    height: 196px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 80px 80px;
}
.trial button{
    background-color: #E50000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.thirdhero h1{
    font-size: 35px;
    line-height: 1.2;
    padding-bottom: 5px;
}
.thirdhero p{
    font-size: 13px;
    color: #999999;
}


.footer{
    height: 100vh;
    background-color: #0F0F0F;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footertext{
    display: flex;
    gap: 100px;
}
.footer h1{
    font-size: 20px;
    padding-bottom: 10px;
}
.footer p{
    font-size: 15px;
    color: #999999;
    padding: 5px 0px 5px 0px;
}
.bottom{
    /* margin-top: 400px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
hr{
    width: 100%;
    height: 1px;
    color: #999999;
}





























/* #container{
    display: grid;
    grid-template-columns: 195px 195px 195px 195px 195px 195px 195px;
    flex-direction: column;
}
#container img{
    width: 195px;
    height: 226px;
    border-radius: 18px;
    object-fit: cover;
    padding: 10px;
    padding-top: 0;
} */